:root {
    --add-hover-color: pink;
    --play-hover-color: red;
    --header-color: lightblue;
    --header-hover-color: lightgreen;
    --play-hover-color: pink;
    --borderColor : transparent;
    --fillColor : orange;
    --startFillColor : orange;
    --startBorderColor : lightblue;
  
    --currentNodeFillColor: green;
    --currentNodeBorderColor: transparent;
    --finishedNodeFillColor: red;
    --finishedNodeBorderColor: transparent;
    --discoveredNodeFillColor: yellow;
    --discoveredNodeBorderColor: transparent;

    --currentEdgeStroke: green;
    --finishedEdgeStroke: red;
}
  
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    background: var(--header-color);
}
header ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
header ul li{
    list-style: none;
    position: relative;
    padding: 10px 0;
    /* transition: 0.5s; */
    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
header ul li:not(#logo):hover{ /* If hover problems arise, remove the :not(#logo) part */
    background: var(--header-hover-color);
}
header ul li:last-child{
    border-right: none;
}
header ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
}
header ul li ul{
    position: absolute;
    top: 38px;
    left: 0;
    background: #000;
    display: block;
    width: 100%;
    /* transition: 0.5s; */
    /* change to 0 and hidden */
    opacity: 0;
    visibility: hidden;
}
header ul li:hover ul{
    opacity: 1;
    visibility: visible;
}
header ul li ul li{
    border-right: none;
    margin: 0;
    /* padding: 10px 10px 10px 10px; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}
header ul li ul li a{
    padding: 0;
    margin: 0;
}
#logo{
    text-transform: uppercase;
}
  
.content{
    /* background: orange; */
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100%;
    flex: 1;
}
svg{
    width: 100%;
    height: 100%;
}
  
.add {
    width:55px;
    height:55px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: linear-gradient(#000,#000) top left, linear-gradient(#000,#000) top right, linear-gradient(#000,#000) bottom left, linear-gradient(#000,#000) bottom right;
    background-size: calc(50% - 1px) calc(50% - 1px); /*thickness = 2px (2*1px) */
    background-repeat:no-repeat;
    border:10px solid #000; /*length = 30px (50px - 2x10px) */
    box-sizing:border-box;
    border-radius:50%;
    z-index: 1;
}
.add::before{
    content: "";
    width:55px;
    height:55px;
    bottom: -10px;
    right: -10px;
    position: absolute;
    background: linear-gradient(var(--add-hover-color),var(--add-hover-color)) top left, linear-gradient(var(--add-hover-color),var(--add-hover-color)) top right, linear-gradient(var(--add-hover-color),var(--add-hover-color)) bottom left, linear-gradient(var(--add-hover-color),var(--add-hover-color)) bottom right;
    background-size: calc(50% - 1px) calc(50% - 1px); /*thickness = 2px (2*1px) */
    background-repeat:no-repeat;
    border:10px solid var(--add-hover-color); /*length = 30px (50px - 2x10px) */
    box-sizing:border-box;
    border-radius:50%;
    opacity:0;
    z-index: -1;
    transition: opacity 0.35s ease;
}
.add:hover::before{
    opacity:1;
}
  
.btn {
    position: absolute;
    bottom: 70px;
    right: 10px;
    width: 49px;
    height: 49px;
    border: black 3px solid;
    border-radius: 50%;
    transition: border 0.2s ease-in-out;
}
.btn:hover {
    border: var(--play-hover-color) 3px solid;
}
.btn:hover .bar {
    background-color: var(--play-hover-color);
}
.btn .bar {
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 4px;
    width: 3px;
    height: 20px;
    border-radius: 3px;
    background-color: black;
    transform-origin: center;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.btn.pause .bar-1 {
    transform: translateX(13.5px) translateY(0px) rotate(0deg);
}
.btn.pause .bar-2 {
    transform: translateX(24px) translateY(0px) rotate(0deg);
}
.btn.play .bar-1 {
    transform: translateX(20px) translateY(-5px) rotate(-55deg);
}
.btn.play .bar-2 {
    transform: translateX(20px) translateY(5px) rotate(-125deg);
}
  
form{
    position: absolute;
    bottom: 130px;
    right: 10px;
}
input{
    width: 45px;
    text-align: center;
}
label{
    border-left: 0ch;
}
  
.node{
    fill: var(--fillColor);
    stroke: var(--borderColor);
}
  
.startNode{
    fill: var(--startFillColor);
    stroke: var(--startBorderColor);
}
  
.discoveredNode{
    fill: var(--discoveredNodeFillColor);
    stroke: var(--discoveredNodeFillColor);
}
  
.finishedNode{
    fill: var(--finishedNodeFillColor);
    stroke: var(--finishedNodeBorderColor);
}
  
.currentNode{
    fill: var(--currentNodeFillColor);
    stroke: var(--currentNodeBorderColor);
}

.finishedEdge{
    stroke: var(--finishedEdgeStroke);
}

.currentEdge{
    stroke: var(--currentEdgeStroke);
}

/* .currentEdge{
    fill: var(--currentFillColor);
    stroke: var(--currentBorderColor);
    marker-end: "url()"
 }
  
.discoveredEdge{
    fill: var(--discoveredFillColor);
    stroke: var(--discoveredFillColor);
} */
  
.disableSelect{
    user-select: none;
    /* -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none; */
  
    pointer-events:none;
}
/* TODO: Media queries (https://www.youtube.com/watch?v=krZvPvpOHm4&ab_channel=OnlineTutorials) 5:44*/
 